.Board {
  color: white;
  font-size: 0.75em;
  /* font-family: PT Mono,serif; */
}

.board-header {
  position: absolute;
  width: 100%;
}

.score-con {
  height: 20px;
  padding: 10px 10px 0;
}

.score-con .current-score {
  float: left;
}

.score-con .top-score {
  float: right;
}

.scoreboard-con {
  position: absolute;
  right: 10px;
  top: 80px;
  border: 3px solid white;
  width: 300px;
}
.scoreboard-con li {
  list-style: none;
}

.scoreboard-con ul {
  padding: 0;
  margin: 0;
}

.scoreboard-con .scoreboard-header {
  border-bottom: 3px solid white;
}

.scoreboard-con .scoreboard-title {
  padding: 10px 0;
  margin: 0;
  border-bottom: 3px solid white;
}

.scoreboard-con .scoreboard-header span {
  display: inline-block;
}

.scoreboard-con .scoreboard-user {
  width: 60%;
  display: inline-block;
  line-height: 33px;
}

.scoreboard-con .scoreboard-score {
  width: calc(40% - 3px);
  display: inline-block;
  line-height: 33px;
  border-left: 3px solid white;
}

.controls {
  line-height: 24px;
}

.game-over-con {
  position: absolute;
  top: 35%;
  left: 50%;
  font-size: 26px;
  margin-left: -108px;
}

