.Board {
  color: white;
  font-size: 0.75em;
  /* font-family: PT Mono,serif; */
}

.board-header {
  position: absolute;
  width: 100%;
}

.score-con {
  height: 20px;
  padding: 10px 10px 0;
}

.score-con .current-score {
  float: left;
}

.score-con .top-score {
  float: right;
}

.controls {
  line-height: 24px;
}

.game-over-con {
  position: absolute;
  top: 35%;
  left: 50%;
  font-size: 26px;
  margin-left: -108px;
}

