.App {
  text-align: center;
  background: black;
  color: white;
}

.App-header {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
