@font-face {
  font-family: 'Press Start Regular';
  src: local('Press Start Regular'), url('./fonts/prstart.ttf') format('truetype');
}

.App {
  text-align: center;
  background: black;
  color: white;
  font-family: PT Mono,serif;
  font-family: 'Press Start Regular';
  font-weight: 100;
  letter-spacing: -2px;
  font-size: 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
